{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form_inline.css' %}">

<form action="{% url 'calendar' %}" method="post">
    {% csrf_token %}
    <label for="{{ form.month.id_for_label }}">Month:</label>
    {{ form.month }}
    <label for="{{ form.year.id_for_label }}">Year:</label>
    {{ form.year }}
    <button type="submit">Submit</button>
</form>

<link rel="stylesheet" href="{% static 'css/table.css' %}">
<div>
    {{ calendar|safe }}
</div>
<br><br><br>

<h2 align="center">During this month you preformed:</h2>
<br><br><br>
<table>
        <tr>
            <th>Exercise</th>
            <th>Average Rep Count</th>
            <th>Average Weight</th>
            <th>Total Reps</th>
            <th>Total Tonnage</th>
        </tr>
{% for exercise_data in exercise_avg_data %}
<tr>
    <td>{{ exercise_data.exercise__name }}</td>
    <td>{{ exercise_data.avg_rep_count|floatformat:2 }}</td>
    <td>{{ exercise_data.avg_weight|floatformat:2 }} kg</td>
    <td>{{ exercise_data.total_reps }}</td>
    <td>{{ exercise_data.total_tonnage }} kg</td>
</tr>
{% endfor %}
</table>

</div>

{% endblock %}